---
layout: default
---
<div class="post">

  <header class="post-header">

    <div class="img">
        <figure class="wrap">
            <img src="{{ site.baseurl }}/images/{{ page.image.feature }}" alt="{{ page.title }}" itemprop="image">
        </figure>
    </div>

    {% unless page.image.hide_title %}
        <h1 class="post-title">{{ page.title }}</h1>
    {% endunless %}

    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}

    {% if author.avatar contains 'http' %}
      {% assign authorImageSrc = author.avatar %}
    {% else %}
      {% capture authorImageSrc %}{{ site.baseurl }}/images/{{ author.avatar }}{% endcapture %}
    {% endif %}

    <div class="post-meta">

        <img src="{{ authorImageSrc }}" class="photo" width="70" height="70"
            alt="{{ author.name }} photo" itemprop="image">
        <span itemprop="name" class="name">
            {{ author.name }}
        </span>
        <span>
            wrote this on
        </span>

        <span>
        {{ page.date | date: "%b %-d, %Y" }}
        </span>
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div>
    {% include social-share.html %}
  </div>

  <br>
  {% include disqus.html %}

  <script>
   (function() {
       ga('send', 'event', 'post', 'open', '{{ page.id }}', {'nonInteraction': 1});
   })();
  </script>
</div>
