---
layout: default
---
<div class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    {% if page.keywords %}
    <meta itemprop="keywords" content="{{ page.keywords | join: ',' }}" />
    {% endif %}
    <meta itemprop="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}" />

    <meta content="article" property="og:type">
    <meta content="{{ page.title }}" property="og:title">
    <meta content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}" property="og:description">
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.baseurl }}/images/{{ page.image.feature }}" property="og:image">

    <header class="post-header">

        <div class="img" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <figure class="wrap">
                <img src="{{ site.baseurl }}/images/{{ page.image.feature }}" alt="{{ page.title }}"
                     itemprop="url"
                     style="margin: auto;">
            </figure>
        </div>

        {% unless page.image.hide_title %}
        <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
        {% endunless %}

        <div class="post-meta">

            {% include author.html author=page.author %}

            <span>
                wrote this on
            </span>

            <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}"">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
        </div>
    </header>

    <article class="post-content" itemprop="articleBody">
        {{ content }}
    </article>

    <div>
        {% include social-share.html %}
    </div>

    <br>
    {% include disqus.html %}

</div>
